body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
}

.hex {
    width: 0;
    border-bottom: 30px solid burlywood;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;

    width: 105px;
    background-color: burlywood;

    width: 0;
    border-top: 30px solid burlywood;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hextop {
    width: 0;
    border-bottom: 30px solid burlywood;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hexbottom {
    width: 0;
    border-top: 30px solid burlywood;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
