/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: Andale Mono, monospace;
    margin: 0;
    background-image: url("../pexels-a.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#background {
    height: 100vh;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 45px;
}

#divtop {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #6d6828;
}

.project {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h5 {
    color: #8ca336;
    margin: 0;
}

h3 {
    margin: 0;
}

h3:hover a {
    color: #9b8a48;
    cursor: pointer;
}

.divbottom {
    margin-top: 20px;
}
