body {
    font-family: Andale Mono, monospace;
    margin: 0;
    background-image: url("../pexels-a.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}
#background {
    height: 100vh;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#divtop {
    margin-bottom: 10px;
}
#projects {
    font-size: 60px;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    background-color: burlywood;
    padding: 10px;
    color: black;
    width: 50%;
    transition: width 500ms ease-in-out;
    text-align: center;
}

h2:hover {
    background-color: #c7965a;
    cursor: pointer;
    width: 60%;
}

.divbottom {
    margin-top: 20px;
}
