* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(week3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    gap: 10px;
    color: pink;
    text-shadow: 1px 1px 0px rgba(255, 101, 147, 1),
        2px 2px 0px rgba(198, 54, 92, 1);
}

@media (max-width: 680px) {
    #wrapper > div > h3 {
        font-size: 2vw;
    }
}

#wrapper {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    width: 700px;
    gap: 8vw;
}

#wrapper > div {
    text-align: center;
    position: relative;
    height: 15vw;
    width: 8.24vw;
    top: -10vw;
    cursor: pointer;
    transition: top ease-in-out 0.85s;
}

img {
    height: 100%;
}

h3 {
    position: absolute;
    bottom: 10vw;
    height: 5vw;
    width: 10vw;
    font-size: 1.3vw;
    transition: bottom ease-in-out 1s;
}
