body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    font-family: Andale Mono, monospace;
    margin-top: 80px;
    background-image: url("pexels-a.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}
#divtop {
    margin-bottom: 10px;
}
#raytao {
    font-size: 60px;
}
.link {
    color: burlywood;
}
#divbottom {
    margin-top: 100px;
}
#divwebring {
    margin-top: 50px;
    display: flex;
    gap: 150px;
    align-items: center;
}
