body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    font-family: Andale Mono, monospace;
    margin-top: 80px;
    background-image: url("../pexels-a.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

#divtop {
    margin-bottom: 10px;
}

#homework {
    font-size: 60px;
}

li,
a {
    color: burlywood;
}

#divmiddle {
    margin-top: 20px;
}
#divbottom {
    margin-top: 50px;
}
