body {
    padding: 0;
    margin: 0;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
}

#still_life_canvas {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 1100px;
    height: 400px;
    background-color: #fbe3fb;
    transform: perspective(400px) rotateX(40deg) rotateY(2deg) rotateZ(-30deg);
}

#triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: 400px;
    border-bottom: 800px solid white;
    border-right: 800px solid transparent;
}

#rubberband {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 100px;
    height: 60px;
    border: beige solid 5px;
    border-radius: 50%;
    display: none;
}
#pencil {
    transform: rotateZ(-10deg);
    transform-origin: bottom left;
    position: absolute;
    left: 350px;
    top: 80%;
    width: 100px;
    height: 7.5px;
}
#pencil-body {
    position: absolute;
    left: 0px;
    height: 7.5px;
    width: 150px;
    background-color: #117722;
}
#tip {
    box-sizing: border-box;
    position: absolute;
    left: 150px;
    height: 7.5px;
    width: 20px;
    /*border: 1px solid black;*/
    border-left: 10px solid rgba(200, 180, 150, 1);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 3.5px solid rgba(0, 0, 0, 0);
    border-bottom: 3.5px solid rgba(0, 0, 0, 0);
}
#metal {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(10, 10, 10, 1),
        rgba(225, 225, 225, 1),
        rgba(30, 30, 30, 1)
    );
}
#metal2 {
    position: absolute;
    left: -3px;
    top: 0px;
    width: 6px;
    height: 100%;
    background-image: linear-gradient(
        to bottom right,
        rgba(10, 10, 10, 1),
        rgba(225, 225, 225, 1),
        rgba(30, 30, 30, 1)
    );
    border-radius: 50%;
    z-index: 1;
}
#peach {
    position: absolute;
    bottom: 375px;
    right: 375px;
    width: 80px;
    height: 65px; /*
    background-color: white;*/
}
#peach-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 65px;
    background-color: red;
    border-top-left-radius: 100% 60%;
    border-bottom-left-radius: 30% 30%;
    border-bottom-right-radius: 15% 10%;
    background-image: linear-gradient(to bottom, #ff8888, #ffbb55);
}
#peach-right {
    position: absolute;
    left: 48px;
    top: 0;
    width: 32px;
    height: 65px;
    background-color: yellow;
    border-top-right-radius: 100% 60%;
    border-bottom-right-radius: 30% 30%;
    border-bottom-left-radius: 15% 10%;
    background-image: linear-gradient(to bottom, #ff8888, #ffff88);
}
#water-bottle {
    position: absolute;
    top: 225px;
    left: 400px;
    width: 90px;
    height: 225px;
    background-color: transparent;
}
#bottle-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-image: linear-gradient(to right, #888888, #bbbbbb, #888888);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
}
#bottle-body-bottom {
    background-color: #333333;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-radius: 50%;
    opacity: 0.2;
}
#water-bottle-cap {
    z-index: 2;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 15%;
    background-color: aqua;
    border-bottom-left-radius: 50% 10px;
    border-bottom-right-radius: 50% 10px;
    border-top-left-radius: 50% 10px;
    border-top-right-radius: 50% 10px;
    background-image: linear-gradient(to right, #000000, #666666, #000000);
}
#bottle-cap-top {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 100%;
    background-color: #777777;
    border-radius: 50%;
}

#water-bottle2 {
    position: absolute;
    top: 125px;
    right: 500px;
    width: 50px;
    height: 125px;
    background-color: transparent;
}
#bottle2-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-image: linear-gradient(
        to right,
        rgb(44, 240, 240),
        rgb(44, 240, 240),
        rgb(44, 240, 240)
    );
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
}
#bottle2-body-bottom {
    background-color: #374547;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    border-radius: 50%;
    opacity: 0.2;
}
#water-bottle2-cap {
    z-index: 2;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 20%;
    background-color: aqua;
    border-bottom-left-radius: 50% 10px;
    border-bottom-right-radius: 50% 10px;
    border-top-left-radius: 50% 10px;
    border-top-right-radius: 50% 10px;
    background-image: linear-gradient(
        to right,
        rgb(92, 180, 180),
        rgb(92, 180, 180),
        rgb(92, 180, 180)
    );
}
#bottle2-cap-top {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 100%;
    background-color: rgb(92, 180, 180);
    border-radius: 50%;
}

#yellow-ball {
    width: 50px;
    height: 50px;
    background-color: #ffff88;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 136, 1) 0%,
        rgba(233, 205, 116, 1) 100%
    );
    border-radius: 50%;
    position: absolute;
    left: 675px;
    top: 325px;
}

#pill-bottle {
    position: absolute;
    bottom: 275px;
    right: 500px;
    width: 27px;
    height: 65px;
    background-color: transparent;
}

#pill-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-image: linear-gradient(
        to bottom,
        rgb(255, 183, 0),
        rgb(255, 216, 89) 50%,
        rgb(255, 183, 0)
    );
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

#pill-body-bottom {
    z-index: 5;
    background-color: rgb(214, 155, 4);
    position: absolute;
    left: 0;
    bottom: -5%;
    width: 100%;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
}

#pill-cap {
    z-index: 2;
    position: absolute;
    left: -5%;
    top: 5%;
    width: 115%;
    height: 25%;
    background-color: white;
    /* border-bottom-left-radius: 50% 10px;
    border-bottom-right-radius: 50% 10px; */
    border-top-left-radius: 5% 10px;
    border-top-right-radius: 5% 10px;
    background-image: linear-gradient(to right, white, #e9e9e9, white);
}
#pill-cap-top {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 100%;
    background-color: #777777;
    border-radius: 50%;
}

#plastic-bottle {
    transform: rotateZ(-90deg);
    position: absolute;
    right: 525px;
    bottom: 400px;
    width: 150px;
    height: 45px;
}
#plastic-body {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(226, 212, 212, 0.857);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 200%;
    border-bottom-right-radius: 200%;
}
#plastic-cap {
    z-index: 2;
    position: absolute;
    left: 98%;
    top: 30%;
    width: 10%;
    height: 40%;
    background-color: white;
    /* border-bottom-left-radius: 50% 10px;
    border-bottom-right-radius: 50% 10px; */
    border-top-left-radius: 10% 10px;
    border-top-right-radius: 10% 10px;
    background-image: linear-gradient(to right, white, #e9e9e9, white);
}
#plastic-body-bottom {
    z-index: 5;
    background-color: rgba(202, 192, 192, 0.857);
    position: absolute;
    left: -2.5%;
    bottom: 0;
    width: 10px;
    height: 100%;
    border-radius: 50%;
    opacity: 1;
}

#flashlight {
    transform: perspective(80px) rotateX(25deg) rotateZ(-25deg);
    position: absolute;
    left: 645px;
    top: 400px;
    width: 20px;
    height: 80px;
}
#flashlight-body {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 120%;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
}
#flashlight-light {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 15%;
    background-color: white;
    /* border-bottom-left-radius: 50% 10px;
    border-bottom-right-radius: 50% 10px; */
    border-radius: 50%;
    border: 2px solid rgb(84, 84, 84);
    background-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgb(207, 198, 198) 50%,
        rgba(255, 255, 255, 1) 100%
    );
}
