body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    background-color: #dbbfdb;
}
.livingroom {
    color: darkorange;
}

#bed {
    color: palevioletred;
    text-decoration: underline;
}

#bed:hover + #disorganized {
    display: block;
}

#disorganized {
    display: none;
    position: absolute;
    right: 45%;
}
