body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    background-color: palegoldenrod;
}
#livingroom {
    color: darkorange;
}

#table {
    color: palevioletred;
    text-decoration: underline;
}

#table:hover + #food {
    display: block;
}

#food {
    display: none;
    position: absolute;
    right: 45%;
}
