body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    background-color: #fed8c1;
}
#dining {
    color: yellowgreen;
}
#bedroom {
    color: #cca9dd;
}
.exit {
    color: skyblue;
}
#tv {
    color: palevioletred;
    text-decoration: underline;
}
#tv:hover + #rachelgreen {
    display: block;
}

#rachelgreen {
    display: none;
    position: absolute;
    right: 45%;
}

#window {
    color: palevioletred;
    text-decoration: underline;
}

#window:hover + #birds {
    display: block;
}

#birds {
    display: none;
    position: absolute;
    right: 45%;
}
