body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    background-color:#FED8C1;
}
#dining{
    color: yellowgreen
}
#bedroom{
    color: #CCA9DD
}
.exit{
    color:skyblue
}