* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    background-image: url(week2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    gap: 1vw;
    color: rgb(255, 175, 203);
    text-shadow: 0px 0px 10px rgb(255, 73, 103);

    font-family: a-otf-jun-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}

span {
    font-size: 1.5vw;
    line-height: 150%;
    filter: brightness(120%);
    cursor: pointer;
}

span:hover {
    text-shadow: none;
    color: whitesmoke;
}
