* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: din-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(museum-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#week1,
#week2 {
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 10%;
    height: 10%;
}

#week1 {
    position: absolute;
    top: 30%;
    right: 51%;
}

#week2 {
    position: absolute;
    top: 30%;
    right: 39%;
}
/* #container {
    position: relative;
    width: 100%;
}

#thoughts {
    clip-path: ellipse(50% 40% at 50% 50%);
    background-color: black;
    height: 55%;
    max-height: 55%;
    width: 57%;
    max-width: 57%;
    position: absolute;
    top: 8%;
    right: 20%;
} */

/* DIN Condensed Regular

font-family: din-condensed, sans-serif;
font-weight: 400;
font-style: normal;

DIN Condensed Light

font-family: din-condensed, sans-serif;
font-weight: 300;
font-style: normal; */
