body {
    font-family: "Verdana";
    height: 100vh;
    margin: 0;
}

#background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#room {
    z-index: -1;
    position: fixed;
    padding-left: 2%;
    padding-right: 2%;
}

#collection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shapes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    background: black;
    width: 90px;
    height: 90px;
}
