* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    font-family: din-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    background-color: #e6c199;
    cursor: help;
}

#question-marks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    font-size: 10vw;
    overflow: hidden;
}

#background {
    position: absolute;
    width: 100%;
    aspect-ratio: 1.93/1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

h1 {
    position: absolute;
    top: 15vw;
    padding: 0.5vw;
    font-size: 4.5vw;
    color: #a07a56;
}

#eyes {
    position: absolute;
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    top: 10vw;
    gap: 3vw;
    justify-content: center;
}

#circle {
    z-index: -1;
    position: absolute;
}

.eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 9vw;
    width: 9vw;
    background: rgb(236, 237, 242);
}
.eye:after {
    position: absolute;
    bottom: 5.105vw;
    right: 3vw;
    width: 3vw;
    height: 3vw;
    background: black;
    border-radius: 50%;
    content: " ";
}

#question-marks > * {
    position: absolute;
    color: #593d24;
}

#reveal1,
#answer1 {
    top: 5vw;
    left: 10vw;
}

#reveal2,
#answer2 {
    top: 3vw;
    left: 40vw;
}

#reveal3,
#answer3 {
    bottom: 20vw;
    left: 20vw;
}

#reveal4,
#answer4 {
    top: 35vw;
    right: 10vw;
}

#reveal5,
#answer5 {
    top: 5vw;
    right: 10vw;
}

#reveal6,
#answer6 {
    bottom: 5vw;
    left: 10vw;
}

#reveal7,
#answer7 {
    bottom: 10vw;
    right: 25vw;
}

#reveal1:hover + #answer1 {
    display: block;
    cursor: default;
    color: black;
    top: 3vw;
}

#reveal2:hover + #answer2 {
    display: block;
    cursor: pointer;
    color: black;
    top: 1vw;
}

#reveal3:hover + #answer3 {
    display: block;
    cursor: pointer;
    color: black;
    bottom: 18vw;
}

#reveal4:hover + #answer4 {
    display: block;
    cursor: pointer;
    color: black;
    top: 33vw;
}

#reveal5:hover + #answer5 {
    display: block;
    cursor: pointer;
    color: black;
    top: 3vw;
}

#reveal6:hover + #answer6 {
    display: block;
    cursor: pointer;
    color: black;
    bottom: 3vw;
}

#reveal7:hover + #answer7 {
    display: block;
    cursor: pointer;
    color: black;
    bottom: 8vw;
}

.answers {
    display: none;
    font-size: 2vw;
}
