* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: bottom;
}

#background {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menu {
    width: 900px;
    height: 600px;
    gap: 20px;
    display: flex;
}

.menu-column {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.menu-info {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 184, 135, 0.7);
}

.menu-img {
    height: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

#hug {
    background-image: url("./images/hug.png");
}

#warm-hug {
    background-color: #ffc9bc;
    opacity: 70%;
}

#talk {
    background-image: url("./images/talk.png");
}

#talk-therapy {
    background-color: #b1dc2a;
    opacity: 70%;
}

#bracelet {
    background-image: url("./images/bracelet.png");
}

#friendship-bracelet {
    background-color: #f9b50b;
    opacity: 70%;
}

.info {
    text-align: center;
    padding: 30px;
    font-family: din-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
}
